legacy-peer-deps=true
save-exact=true
node-linker=hoisted
resolution-mode=highest
engine-strict=true
package-lock=false
audit=false
fund=false
progress=false
loglevel=error
cache-min=3600
prefer-offline=true
maxsockets=1
fetch-retries=3
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000 